@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
	--color: #3c3163;
	--transition-time: 0.5s;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: Heebo, Arial, Helvetica, sans-serif;
	background: #fafafa;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
}

#app {
	height: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
	.cardsWrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 900px) {
	.cardsWrapper {
		grid-template-columns: 1fr;
	}

	.info {
		justify-content: center;
	}

	.card-grid-space .num {
		margin-left: 0;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.cardsWrapper {
		padding: 4rem 2rem;
	}

	.card {
		max-width: calc(100vw - 4rem);
	}
}

@media screen and (max-width: 500px) {
	.info {
		display: block;
		text-align: center;
	}

	.info h1 {
		margin: 0;
	}

	.cardgridspace .num {
		font-size: 1em;
	}
}
