/* Flexbox styles */
@media screen and (min-width: 40em) {
	.cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: -1rem;
	}
} /* mq 40em */

@media screen and (min-width: 60em) {
	.cards {
		margin-top: inherit;
	}
} /* mq 60em */

.centerDiv {
	top: 40%;
	left: 50%;
	position: absolute;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	transform: translateX(-50%);
}
