<!-- https://stackoverflow.com/questions/52987825/google-static-maps-how-to-get-position-from-latitude-and-longitude -->
<!-- https://nordicapis.com/5-powerful-alternatives-to-google-maps-api/ -->
<!-- for integration of map refer above posts -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="style.css"/>
      <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>front end mentor / designing</title>
  </head>
  <body>
    <div id="container">
      <div class="card">
        <div class="img-container">
          <img
            class="cube-img"
            src="./img/image-equilibrium.jpg"
            alt="image of glass cube"
          />
          <a href="#" class="icon" alt="View More">
            <img class="view-icon" src="./img/icon-view.svg" />
          </a>
          <div class="overlay"></div>
        </div>
        <h5 class="card-title">program Runing #3445</h5>
        <p class="card-description">
          As Advertising company we are earger to serve you in promoting your product
          <a href="#">FEISAL ISSACK</a> 'CEO OF THE COMPANY'
        </p>

        <p class="crypto-price">
          <img src="./img/icon-ethereum.svg" class="crypto-symbol" /> 0.051
          ETH
        </p>
        <p class="days-indicator">
          <img src="./img/icon-clock.svg" class="clock-img" /> 4 days left
        </p>
        <hr class="divider" />

        <p class="creator">
          <img src="./img/ceo img.png" class="avatar" />
          Creation of <span class="creator-name">Feisal Issack</span>
        </p>
      </div>

      <div class="card">
        <div class="img-container">
          <img
            class="cube-img"
            src="./img/image-equilibrium.jpg"
            alt="image of glass cube"
          />
          <a href="#" class="icon" alt="View More">
            <img class="view-icon" src="./img/icon-view.svg" />
          </a>
          <div class="overlay"></div>
        </div>
        <h5 class="card-title">program Runing #3445</h5>
        <p class="card-description">
          As Advertising company we are earger to serve you in promoting your product
          <a href="#">FEISAL ISSACK</a> 'CEO OF THE COMPANY'
        </p>

        <p class="crypto-price">
          <img src="./img/icon-ethereum.svg" class="crypto-symbol" /> 0.051
          ETH
        </p>
        <p class="days-indicator">
          <img src="./img/icon-clock.svg" class="clock-img" /> 4 days left
        </p>
        <hr class="divider" />

        <p class="creator">
          <img src="./img/ceo img.png" class="avatar" />
          Creation of <span class="creator-name">Feisal Issack</span>
        </p>
      </div>

      <div class="card">
        <div class="img-container">
          <img
            class="cube-img"
            src="./img/image-equilibrium.jpg"
            alt="image of glass cube"
          />
          <a href="#" class="icon" alt="View More">
            <img class="view-icon" src="./img/icon-view.svg" />
          </a>
          <div class="overlay"></div>
        </div>
        <h5 class="card-title">program Runing #3445</h5>
        <p class="card-description">
          As Advertising company we are earger to serve you in promoting your product
          <a href="#">FEISAL ISSACK</a> 'CEO OF THE COMPANY'
        </p>

        <p class="crypto-price">
          <img src="./img/icon-ethereum.svg" class="crypto-symbol" /> 0.051
          ETH
        </p>
        <p class="days-indicator">
          <img src="./img/icon-clock.svg" class="clock-img" /> 4 days left
        </p>
        <hr class="divider" />

        <p class="creator">
          <img src="./img/ceo img.png" class="avatar" />
          Creation of <span class="creator-name">Feisal Issack</span>
        </p>
      </div>
      <div class="card">
        <div class="img-container">
          <img
            class="cube-img"
            src="https://maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true"
            alt="image of glass cube"
          />
          <a href="#" class="icon" alt="View More">
            <img class="view-icon" src="./img/icon-view.svg" />
          </a>
          <div class="overlay"></div>
        </div>
        <h5 class="card-title">program Runing #3445</h5>
        <p class="card-description">
          As Advertising company we are earger to serve you in promoting your product
          <a href="#">FEISAL ISSACK</a> 'CEO OF THE COMPANY'
        </p>

        <p class="crypto-price">
          <img src="./img/icon-ethereum.svg" class="crypto-symbol" /> 0.051
          ETH
        </p>
        <p class="days-indicator">
          <img src="./img/icon-clock.svg" class="clock-img" /> 4 days left
        </p>
        <hr class="divider" />

        <p class="creator">
          <img src="./img/ceo img.png" class="avatar" />
          Creation of <span class="creator-name">Feisal Issack</span>
        </p>
      </div>

    </div>

  </body>
</html>
