/* Card Base design */
.card {
  margin-bottom: 5rem;
  margin-left: 5rem;
  height: 600px;
  width: 350px;
  background: hsl(216, 50%, 16%);
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 1.3px;
  box-shadow: -8px 10px 30px 1px rgba(3, 14, 31, 0.49);
  -webkit-box-shadow: -8px 10px 30px 1px rgba(3, 14, 31, 0.49);
  -moz-box-shadow: -8px 10px 30px 1px rgba(3, 14, 31, 0.49);
}

/* Card title  */
.cardTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
  margin-left: 25px;
}

.cardTitle:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

/* Card description */
.cardDescription {
  line-height: 1.75rem;
  color: hsl(215, 51%, 70%);
  font-weight: 100;
  font-size: 1.05rem;
  margin: -15px 20px auto 25px;
}

/* Image overlay  */

.overlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: hsl(178, 100%, 50%);
}

.icon {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 10;
}

/* Image Container */

.imgContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 25px auto 10px auto;
}

.imgContainer:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.imgContainer:hover .icon {
  opacity: 1;
}

.cubeImg {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  display: block;
  margin: 25px auto 10px auto;
}
